# macOS
.DS_Store

# Xcode / Swift
build/
.build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Go
bin/
obj/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# User Data / Logs
data/xray.log
*.log

# Temp / Editor
.idea/
.vscode/
*.swp
*~
